{% extends "base.html" %}

{% block content %}


<div class="row">

    <div class="col-xs-12 well">
    <h1>1. What is Orisi</h1>
    <p>Orisi is an idea of Distributed Oracle system, read more at <a href="http://orisi.org/">Orisi.org</a></p>
   </div>

  
  <div class="col-xs-12 well">
    <h1>2. Who owns oracles?</h1>
    <p>We do. For now. Because this just a demo and a test site, it does not really matter. We do care for this project to succeed 
      and this why you can trust us with small amounts of money for testing purposes. You can run your own Oracle 
    
    </p>
  </div>
  
  <div class="col-xs-12 well">
    <h1>3. Where are oracles?</h1>
    <p>They are hidden, to be more secure, at the same time they are signing all their communication and transactions so you are sure it's them who's taking care of you money.
    </p>
  </div>
  
  <div class="col-xs-12 well">
    <h1>4. How does it work?</h1>
  <iframe width="420" height="315" src="//www.youtube.com/embed/boPW1FwNu4c" frameborder="0" allowfullscreen></iframe>
  </div>
  
  <div class="col-xs-12 well">
    <h1>5. Can I use this site to "timelock" huge amounts of Bitcoins?</h1>
 <p>Please, don't. This is just a demo site, working on the alpha version of the Orisi code. It's safe to send few milibtc through it, but don't risk sending more.</p> </div>
</div>

 <div class="col-xs-12 well">
    <h1>6. For how long should I set the timelock?</h1>
 <p>
 Setting timelock time for less than 15 minutes is probably ineffective, the fastest time we have achieved with the whole contract to finish was 16 minutes.
 For now do not set it to more than 48 hours. We reserve a right to take down this site with 1 week notice.</p> </div>



     <div class="col-xs-12 well">
    <h1>7. How much does it costs?</h1>
 <p>
 Each Oracle is charging 0.0003 BTC for arbitraging your smart contract.

    </div>








{% endblock %}
