{% extends "base.html" %}

{% block content %}
<style type="text/css">
  @media (min-width: 768px) {
    .container {
      width:100%;
      max-width: 730px;
    }
  }
</style>

<div class="jumbotron row text-center center">


      <h1>TimeLock Smart Contract</h1>
      <h2>Powered by Orisi Oracles</h2>
      <p class="lead">Check how Smart Contracts works without installing anything!</p>

    <a href="{% url 'main:timelock' %}" class="btn btn-lg btn-success">Get Started</a>
      <p>or <a href="{% url 'main:faq' %}">learn more</a></p>


</div>
{% endblock %}
